In [5]:
import pandas as pd
import numpy as np

In [6]:
# read the dataset

df = pd.read_csv('amazon_ml_ds_books.csv')

df.head()

,Title,Authors,Price,Stars,Number of Reviews,Published Date,Country,Currency
0,"Hands-On Machine Learning with Scikit-Learn, K...",[],68.0,NaN,NaN,2022-10-31,Australia,AU Dollars
1,Machine Learning for Absolute Beginners: A Pla...,[],0.0,NaN,NaN,2020-12-31,Australia,AU Dollars
2,The Hundred-Page Machine Learning Book,[],49.0,NaN,NaN,2019-01-01,Australia,AU Dollars
3,Machine Learning: A Probabilistic Perspective ...,[],161.0,NaN,NaN,2012-09-07,Australia,AU Dollars
4,Approaching (Almost) Any Machine Learning Prob...,[],9.0,NaN,NaN,2020-06-30,Australia,AU Dollars

In [7]:
df.isnull().sum()

Title                   2
Authors                 0
Price                 199
Stars                2678
Number of Reviews    2058
Published Date       6630
Country                 0
Currency              199
dtype: int64

In [8]:
# we assign random ratings to the books under the column 'Stars'

# Generate random numbers from 1 to 5
df['Stars'] = np.random.randint(1, 6, size=len(df))

df.head()

,Title,Authors,Price,Stars,Number of Reviews,Published Date,Country,Currency
0,"Hands-On Machine Learning with Scikit-Learn, K...",[],68.0,5,NaN,2022-10-31,Australia,AU Dollars
1,Machine Learning for Absolute Beginners: A Pla...,[],0.0,3,NaN,2020-12-31,Australia,AU Dollars
2,The Hundred-Page Machine Learning Book,[],49.0,1,NaN,2019-01-01,Australia,AU Dollars
3,Machine Learning: A Probabilistic Perspective ...,[],161.0,4,NaN,2012-09-07,Australia,AU Dollars
4,Approaching (Almost) Any Machine Learning Prob...,[],9.0,5,NaN,2020-06-30,Australia,AU Dollars

In [10]:
# Assign random N# of reviews to each book

df['Number of Reviews'] = np.random.randint(0, 501, size=len(df))
df.head()

,Title,Authors,Price,Stars,Number of Reviews,Published Date,Country,Currency
0,"Hands-On Machine Learning with Scikit-Learn, K...",[],68.0,5,294,2022-10-31,Australia,AU Dollars
1,Machine Learning for Absolute Beginners: A Pla...,[],0.0,3,64,2020-12-31,Australia,AU Dollars
2,The Hundred-Page Machine Learning Book,[],49.0,1,113,2019-01-01,Australia,AU Dollars
3,Machine Learning: A Probabilistic Perspective ...,[],161.0,4,382,2012-09-07,Australia,AU Dollars
4,Approaching (Almost) Any Machine Learning Prob...,[],9.0,5,277,2020-06-30,Australia,AU Dollars

In [13]:
df.isnull().sum()

Title                   2
Authors                 0
Price                 199
Stars                   0
Number of Reviews       0
Published Date       6630
Country                 0
Currency              199
dtype: int64

In [16]:
df['Price'] = df['Price'].fillna(pd.Series(np.random.uniform(20, 100, size=len(df))))
df.head()

,Title,Authors,Price,Stars,Number of Reviews,Published Date,Country,Currency
0,"Hands-On Machine Learning with Scikit-Learn, K...",[],68.0,5,294,2022-10-31,Australia,AU Dollars
1,Machine Learning for Absolute Beginners: A Pla...,[],0.0,3,64,2020-12-31,Australia,AU Dollars
2,The Hundred-Page Machine Learning Book,[],49.0,1,113,2019-01-01,Australia,AU Dollars
3,Machine Learning: A Probabilistic Perspective ...,[],161.0,4,382,2012-09-07,Australia,AU Dollars
4,Approaching (Almost) Any Machine Learning Prob...,[],9.0,5,277,2020-06-30,Australia,AU Dollars

In [17]:
df.isnull().sum()

Title                   2
Authors                 0
Price                   0
Stars                   0
Number of Reviews       0
Published Date       6630
Country                 0
Currency              199
dtype: int64

In [18]:
# drop the columns not needed for the recommender system

df = df.drop(['Published Date', 'Currency'], axis=1)
print(df.head())
df.isnull().sum()

                                               Title Authors  Price  Stars  \
0  Hands-On Machine Learning with Scikit-Learn, K...      []   68.0      5
1  Machine Learning for Absolute Beginners: A Pla...      []    0.0      3
2           The Hundred-Page Machine Learning Book        []   49.0      1
3  Machine Learning: A Probabilistic Perspective ...      []  161.0      4
4  Approaching (Almost) Any Machine Learning Prob...      []    9.0      5

   Number of Reviews    Country
0                294  Australia
1                 64  Australia
2                113  Australia
3                382  Australia
4                277  Australia

Title                2
Authors              0
Price                0
Stars                0
Number of Reviews    0
Country              0
dtype: int64

In [19]:
#drop the 2 rows with missing values

df = df.dropna()
df.isnull().sum()

Title                0
Authors              0
Price                0
Stars                0
Number of Reviews    0
Country              0
dtype: int64

In [20]:
# now save the cleaned dataset

df.to_csv('amazon_ml_ds_books_cleaned.csv', index=False)